<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>mini wiki.</title>
	<link rel="stylesheet" href={{styles_path}}>
</head>
<body>
	<div class="wiki__container">
		<a class="page__header">{{page_header}}<a>
		<hr>
		<div class="article__container">
			{{article}}
		</div>
	</div>
</body>
</html>
